/* line 1, ../../src/stylesheets/main.scss */
body, * {
  font-family: sans-serif;
  background: #fcfcfc;
}

/* line 5, ../../src/stylesheets/main.scss */
.container {
  width: 400px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  padding: 35px;
}
/* line 9, ../../src/stylesheets/main.scss */
.container * {
  background: #fff;
}
/* line 15, ../../src/stylesheets/main.scss */
.container h1 {
  text-align: center;
}
